<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facai.facai.dao.CartMapper">
  <resultMap id="BaseResultMap" type="com.facai.facai.entity.Cart">
    <constructor>
      <idArg column="c_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="c_psid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="c_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="c_userid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="c_total" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    </constructor>
    <association property="productSpecs" javaType="com.facai.facai.entity.ProductSpecs">
      <id column="s_id" property="sId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="s_name" property="sName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="s_price"  property="sPrice" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <result column="s_state" property="sState" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="s_productid" property="sProductid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <association property="product" javaType="com.facai.facai.entity.Product">
        <id column="p_id" property="pId" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="p_title" property="pTitle" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="p_state" property="pState" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="p_cover" property="pCover" javaType="java.lang.String" jdbcType="VARCHAR" />
      </association>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    c_id, c_psid, c_count, c_userid, c_total
  </sql>
  <sql id="Base_Column_List_r">
    c_id, c_psid, c_count, c_userid, c_total, s_id, s_name, s_state, s_price, s_productid,p_id, p_title,p_cover,p_state
  </sql>
  <select id="selectAllCartByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List_r" />
    FROM `cart`
    LEFT JOIN `productSpecs` ON `c_psid` = `s_id`
    LEFT JOIN `product` ON `s_productid` =  `p_id`
    WHERE `c_userid` = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart
    where c_id = #{cId,jdbcType=INTEGER}  and c_userid = #{cUserid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBatchByCIdAndUserId">
    DELETE FROM `cart` WHERE `c_id` IN
    <foreach collection ="cIdList" item="cid" index="index"  separator ="," open="(" close=")">
        #{cid}
    </foreach>
     AND `c_userid` = #{userId}
  </delete>
  
  
  <insert id="insert" parameterType="com.facai.facai.entity.Cart">
    insert into cart (c_id, c_psid, c_count, 
      c_userid, c_total)
    values (#{cId,jdbcType=INTEGER}, #{cPsid,jdbcType=INTEGER}, #{cCount,jdbcType=INTEGER}, 
      #{cUserid,jdbcType=INTEGER}, #{cTotal,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.facai.facai.entity.Cart">
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        c_id,
      </if>
      <if test="cPsid != null">
        c_psid,
      </if>
      <if test="cCount != null">
        c_count,
      </if>
      <if test="cUserid != null">
        c_userid,
      </if>
      <if test="cTotal != null">
        c_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cPsid != null">
        #{cPsid,jdbcType=INTEGER},
      </if>
      <if test="cCount != null">
        #{cCount,jdbcType=INTEGER},
      </if>
      <if test="cUserid != null">
        #{cUserid,jdbcType=INTEGER},
      </if>
      <if test="cTotal != null">
        #{cTotal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.facai.facai.entity.Cart">
    update cart
    <set>
      <if test="cPsid != null">
        c_psid = #{cPsid,jdbcType=INTEGER},
      </if>
      <if test="cCount != null">
        c_count = #{cCount,jdbcType=INTEGER},
      </if>
      <if test="cUserid != null">
        c_userid = #{cUserid,jdbcType=INTEGER},
      </if>
      <if test="cTotal != null">
        c_total = #{cTotal,jdbcType=DECIMAL},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}  and c_userid = #{cUserid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.facai.facai.entity.Cart">
    update cart
    set c_psid = #{cPsid,jdbcType=INTEGER},
      c_count = #{cCount,jdbcType=INTEGER},
      c_userid = #{cUserid,jdbcType=INTEGER},
      c_total = #{cTotal,jdbcType=DECIMAL}
    where c_id = #{cId,jdbcType=INTEGER}  and c_userid = #{cUserid,jdbcType=INTEGER}
  </update>

</mapper>