<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facai.facai.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.facai.facai.entity.Order">
    <constructor>
      <idArg column="o_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="o_serialNum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="o_payMethod" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="o_createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="o_state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="o_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="o_transactionNum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="o_totalAmount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="o_userid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="o_remarks" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="o_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="o_deliverytime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="o_confirmtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
    <collection property="orderDetail" ofType="com.facai.facai.entity.OrderDetail">
      <result property="odId" column="od_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result property="odOid" column="od_oid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result property="odPsid" column="od_psid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result property="odCount" column="od_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result property="odTotal" column="od_total" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    o_id, o_serialNum, o_payMethod, o_createtime, o_state, o_type, o_transactionNum, 
    o_totalAmount, o_userid, o_remarks, o_address, o_deliverytime, o_confirmtime
  </sql>
  <sql id="Base_Column_List_Collection">
    o_id, o_serialNum, o_payMethod, o_createtime, o_state, o_type, o_transactionNum,
    o_totalAmount, o_userid, o_remarks, o_address, o_deliverytime, o_confirmtime, od_id, od_oid, od_psid, od_count, od_total
  </sql>
  <!-- 根据用户查询所有订单 -->
  <select id="selectAllOrderByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `order`
    where o_userid = #{userId,jdbcType=INTEGER}
  </select>
  <!-- 查询订单详情 -->
  <select id="selectOrderByOidAndUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_Collection" />
    from `order`
    left join orderDetail on o_id = od_oid
    where o_id = #{oId,jdbcType=INTEGER} and  o_userid = #{userId,jdbcType=INTEGER}
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    where o_id = #{oId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `order`
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="oId" parameterType="com.facai.facai.entity.Order">
    insert into `order` (o_id, o_serialNum, o_payMethod,
      o_createtime, o_state, o_type, 
      o_transactionNum, o_totalAmount, o_userid, 
      o_remarks, o_address, o_deliverytime, 
      o_confirmtime)
    values (#{oId,jdbcType=INTEGER}, #{oSerialnum,jdbcType=VARCHAR}, #{oPaymethod,jdbcType=INTEGER}, 
      #{oCreatetime,jdbcType=TIMESTAMP}, #{oState,jdbcType=INTEGER}, #{oType,jdbcType=INTEGER}, 
      #{oTransactionnum,jdbcType=VARCHAR}, #{oTotalamount,jdbcType=DECIMAL}, #{oUserid,jdbcType=INTEGER}, 
      #{oRemarks,jdbcType=VARCHAR}, #{oAddress,jdbcType=VARCHAR}, #{oDeliverytime,jdbcType=TIMESTAMP}, 
      #{oConfirmtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.facai.facai.entity.Order">
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        o_id,
      </if>
      <if test="oSerialnum != null">
        o_serialNum,
      </if>
      <if test="oPaymethod != null">
        o_payMethod,
      </if>
      <if test="oCreatetime != null">
        o_createtime,
      </if>
      <if test="oState != null">
        o_state,
      </if>
      <if test="oType != null">
        o_type,
      </if>
      <if test="oTransactionnum != null">
        o_transactionNum,
      </if>
      <if test="oTotalamount != null">
        o_totalAmount,
      </if>
      <if test="oUserid != null">
        o_userid,
      </if>
      <if test="oRemarks != null">
        o_remarks,
      </if>
      <if test="oAddress != null">
        o_address,
      </if>
      <if test="oDeliverytime != null">
        o_deliverytime,
      </if>
      <if test="oConfirmtime != null">
        o_confirmtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="oSerialnum != null">
        #{oSerialnum,jdbcType=VARCHAR},
      </if>
      <if test="oPaymethod != null">
        #{oPaymethod,jdbcType=INTEGER},
      </if>
      <if test="oCreatetime != null">
        #{oCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="oState != null">
        #{oState,jdbcType=INTEGER},
      </if>
      <if test="oType != null">
        #{oType,jdbcType=INTEGER},
      </if>
      <if test="oTransactionnum != null">
        #{oTransactionnum,jdbcType=VARCHAR},
      </if>
      <if test="oTotalamount != null">
        #{oTotalamount,jdbcType=DECIMAL},
      </if>
      <if test="oUserid != null">
        #{oUserid,jdbcType=INTEGER},
      </if>
      <if test="oRemarks != null">
        #{oRemarks,jdbcType=VARCHAR},
      </if>
      <if test="oAddress != null">
        #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oDeliverytime != null">
        #{oDeliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="oConfirmtime != null">
        #{oConfirmtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.facai.facai.entity.Order">
    update `order`
    <set>
      <if test="oSerialnum != null">
        o_serialNum = #{oSerialnum,jdbcType=VARCHAR},
      </if>
      <if test="oPaymethod != null">
        o_payMethod = #{oPaymethod,jdbcType=INTEGER},
      </if>
      <if test="oCreatetime != null">
        o_createtime = #{oCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="oState != null">
        o_state = #{oState,jdbcType=INTEGER},
      </if>
      <if test="oType != null">
        o_type = #{oType,jdbcType=INTEGER},
      </if>
      <if test="oTransactionnum != null">
        o_transactionNum = #{oTransactionnum,jdbcType=VARCHAR},
      </if>
      <if test="oTotalamount != null">
        o_totalAmount = #{oTotalamount,jdbcType=DECIMAL},
      </if>
      <if test="oUserid != null">
        o_userid = #{oUserid,jdbcType=INTEGER},
      </if>
      <if test="oRemarks != null">
        o_remarks = #{oRemarks,jdbcType=VARCHAR},
      </if>
      <if test="oAddress != null">
        o_address = #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oDeliverytime != null">
        o_deliverytime = #{oDeliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="oConfirmtime != null">
        o_confirmtime = #{oConfirmtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.facai.facai.entity.Order">
    update `order`
    set o_serialNum = #{oSerialnum,jdbcType=VARCHAR},
      o_payMethod = #{oPaymethod,jdbcType=INTEGER},
      o_createtime = #{oCreatetime,jdbcType=TIMESTAMP},
      o_state = #{oState,jdbcType=INTEGER},
      o_type = #{oType,jdbcType=INTEGER},
      o_transactionNum = #{oTransactionnum,jdbcType=VARCHAR},
      o_totalAmount = #{oTotalamount,jdbcType=DECIMAL},
      o_userid = #{oUserid,jdbcType=INTEGER},
      o_remarks = #{oRemarks,jdbcType=VARCHAR},
      o_address = #{oAddress,jdbcType=VARCHAR},
      o_deliverytime = #{oDeliverytime,jdbcType=TIMESTAMP},
      o_confirmtime = #{oConfirmtime,jdbcType=TIMESTAMP}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>




</mapper>